/* 

Transition:  CSS3 property that allows you to change property values smoothly (over a given duration); means the change of the element over time

- Transition property.
- Transition duration.
- Transition delay.
- Transition shorthand

*/

div {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.one {
  background-color: red;
}
.two {
  background-color: green;
}
.three {
  background-color: blue;
  /* transition: background-color, border-radius;
  transition-duration: 2s, 6s;
  transition-delay: 2s; */
  transition: background-color 2s 1s, border-radius 6s 4s;
}

.three:hover {
  border-radius: 50%;
  background-color: coral;
  transform: scale(1.2);
}
