/* 

:link - unvisited links with href attribute
:visited - visited links with href attribute
:hover:hover - when the user hovers over the element
:active - when the user clicks on the element
a - all links

*/

a {
  display: inline-block;
  background-color: #f1f1f1;
  margin: 10px;
}

a:link {
  color: blue;
}

a:visited {
  color: red;
}

a:active {
  color: green;
}
