/* 

:root is a pseudo-class that matches the root element of a document (usually the html element). It is useful for setting global values that can be reused throughout the document.

- General styles
- CSS variables
*/

:root {
  font-size: 16px;
}

.absolute {
  font-size: 24px;
}

.relative {
  font-size: 1.5rem;
}
