* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  height: 300px;
  color: white;
  border: 1px solid red;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.big-img {
  background-image: url('./big.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.small-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url('./images/folder.jpg');
  background-attachment: fixed;
}
.folder-img {
  background-image: url('./big.jpg');
}
