div {
  height: 300px;
  color: white;
  border: 1px solid red;
}

.big-img {
  background-image: url('./big.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.small-img {
  background-image: url('./small.jpg');
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: space;
  background-repeat: round;
  background-repeat: no-repeat;
  background-size: cover; // thats why do noz pick small images, because the quality will suffer!!!
}
.folder-img {
  background-image: url('./images/folder.jpg');
  /* background-repeat: no-repeat; */
  background-size: contain;
}
