/* 
dosplay:none - remove from the flow, hide element collapse the space.
opacity:0, visibility:hidden - hide element but still take up space.
*/

body {
  text-align: center;
}

div {
  background-color: #f87869;
  margin: 10px;
  color: white;
  font-size: 1.5rem;
}

.none {
  /* display: none; */
}

.opacity-1 {
  opacity: 1;
}
.opacity-5 {
  opacity: 0.5;
}

.opacity-0 {
  opacity: 0;
}

.visibility {
  visibility: hidden;
}
