/* 
HORIZONTAL CENTERING
*/

body {
  text-align: center;
}

.block {
  background-color: blue;
  color: white;
  width: 300px;
  margin: 3px auto;
}

.inline {
  background-color: red;
  color: white;
}
