/*
line-height - if number * font-size = line-height
letter-spacing
word-spacing
text-transform
text-decoration
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Trade+Winds&display=swap');

body {
  /* line-height - if number * font-size = line-height */
  /* line-height: 30px; */
  line-height: 1.5;
  font-size: 20px;
  text-decoration: uppercase;
}

a {
  text-decoration: none;
  color: #333;
}

h1 {
  text-decoration: underline;
  text-decoration: line-through;
  text-transform: uppercase;
}

.one {
  letter-spacing: 2px;
  text-decoration: overline;
}

.two {
  word-spacing: 10px;
}

.three {
  text-transform: capitalize;
}
