* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  height: 300px;
  color: white;
  border: 1px solid red;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-transform: uppercase;
}

.big-img {
  background-image: url('./big.jpg');
}
.small-img {
  background-image: url('./images/folder.jpg');
  background-attachment: fixed;
}
.folder-img {
  background-image: url('./big.jpg');
}
