/* 
Box:sizing: border-box;
default value: content-box;
*/
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.box-one,
.box-two,
.box-three {
  width: 200px;
  height: 200px;
  color: white;
  font-size: 1.5rem;
}

.box-one {
  background-color: #f44336;
  padding: 20px;
  box-sizing: border-box;
}

.box-two {
  background-color: blue;
}

.box-three {
  background-color: green;
  padding: 20px;
}
